/* Some CSS taken from nip.io */
body {
    margin: auto;
    width: 60%;
    padding: 10px;
}

header {
    color: #08415c;
    border-bottom: 1px solid #222222;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

form {
    margin-top: 1.5em;
}

.green_me {
    color: #4CAF50 !important;
}

.grecaptcha-badge{
	visibility: collapse !important;
}

/* Tooltip container */
.tltp {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tltp .tltptxt {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tltp .tltptxt::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}