<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ host }}- URL Shortener</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/atomic@4/dist/atomic.polyfills.min.js"></script>
</head>

<body class="container h-100">
<header>
    <div class="container"><h1 class="header">{{ host }}</h1></div>
</header>

<article>
    <div class="container">
        <h3>Simple URL Shortener</h3>
        <span>Create custom or simpler URLs to share with others.</span>

        <div class="row">
            <div class="col-sm-7">
                <b><p id="server_response" class="mt-3 mb-1"></p></b>
            </div>

            <div class="col-sm-5" id="new_url_area" style="visibility: hidden">
                <div class="input-group mb-3">
                    <input id="new_url" type="text" class="form-control" value="Label" readOnly>
                    <div class="input-group-append">
                        <button id="copy_link" class="btn tltp" type="button" data-clipboard-target="#new_url">
                            <span class="tltptxt" id="copy_link_tooltip"></span>
                            <img class="clippy" src="{% static 'clippy.svg' %}" width="13" alt="Copy to clipboard">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <form>
            <div class="form-group row">
                <label for="input_url" class="col-sm-2 col-form-label">URL</label>

                <div class="col-sm-10">
                    <input type="url" class="form-control" id="input_url" placeholder="Ex: http://www.google.com"
                           required>
                    <div class="invalid-feedback">
                        Please enter a URL to shorten
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-8 row">
                    <label for="custom_url" class="col-sm-3 col-form-label">Custom Ending</label>
                    <div class="col-sm-9" style="padding-left: 1.5em">
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">{{ host }}/</div>
                            </div>
                            <input type="text" class="form-control" id="custom_url"
                                   placeholder="Ex: {{ random_example }}">
                        </div>
                        <ul>
                            <li>Leave blank for random one</li>
                            <li>Custom URL must be at least 4 characters long.</li>
                            <li>Custom URL must be at most 20 characters long.</li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-3 row">
                    <label for="duration_select" class="col-sm-4 pr-0 col-form-label">Expires </label>
                    <div class="input-group col-sm-8">
                        <select class="form-control" id="duration_select">
                            <option>Never</option>
                            <option>In 1 Day</option>
                            <option>In 1 Week</option>
                            <option>In 2 Weeks</option>
                            <option>In 1 Month</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-1">
                    <button class="btn btn-primary mb-3 ml-4" id="submit">Submit</button>
                </div>
            </div>
        </form>

    </div>
</article>

<script>
    let server_response = document.getElementById("server_response");
    let new_url = document.getElementById("new_url");
    let new_url_area = document.getElementById("new_url_area");

    grecaptcha.ready(function () {
        document.querySelector("form").addEventListener('submit', (event) => {
            event.preventDefault();

            server_response.classList.remove("green_me");
            new_url_area.style.visibility = 'hidden';
            new_url.value = "Label";
            server_response.innerHTML = "Creating...";

            if (document.querySelector("form").checkValidity() === false) {
                server_response.innerHTML = "Invalid form data";
            } else {
                grecaptcha.execute('{{ recaptcha_site_key }}', {action: 'create_link'}).then(function (token) {
                    console.log(token);

                    atomic("{% url 'create' %}", {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': "{{ csrf_token }}"
                        },
                        data: JSON.stringify({
                            long_link: document.getElementById("input_url").value,
                            short_link: document.getElementById("custom_url").value,
                            expiration: document.querySelector("#duration_select").selectedIndex,
                            gRecaptchaResponse: token
                        })
                    }).then(function (response) {
                        server_response.innerHTML = response.data['Response'];
                        if (response.data['Response'].includes("Success")) {
                            server_response.classList.add("green_me");
                            new_url_area.style.visibility = 'visible';
                            new_url.value = "https://" + response.data["Link"];
                        }
                    })

                })
            }
        })
    });

    function setTooltip(text) {
        let elem = document.getElementById("copy_link_tooltip");
        elem.innerHTML = text;
        elem.style.visibility = "visible";
        elem.style.opacity = "1";
    }

    function hideTooltip(text) {
        setTimeout(function () {
            let elem = document.getElementById("copy_link_tooltip");
            elem.style.visibility = "hidden";
            elem.style.opacity = "0.00001";
        }, 3000);
    }

    let clipboard = new ClipboardJS('#copy_link');
    clipboard.on('success', function (e) {
        setTooltip('Copied!');
        hideTooltip();
    });
    clipboard.on('error', function (e) {
        setTooltip('Failed!');
        hideTooltip();
    });
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>